# Ignore all
*

# Un-ignore all with extensions
!*.*

# Un-ignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.ppm

# Ignore input files (as I have found out these may be protected by licensing like for advent of code)
*.in
*.e_in